<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<security-constraint>
		<!-- The page we want to restrict -->
		<web-resource-collection>
			<web-resource-name>AllPages</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>

		<!-- The group or role that can access the above page -->
		<auth-constraint>
			<role-name>user</role-name>
		</auth-constraint>
		
		<!-- Use SSL -->
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!-- Definition of role -->
	<security-role>
		<role-name>user</role-name>
	</security-role>

	<!-- Definition of role -->
	<security-role>
		<role-name>admin</role-name>
	</security-role>

	<!-- Require a username and password -->
	<!-- If non-ssl, credentials are Base64 encoded, not secure -->
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>file</realm-name>
	</login-config>

</web-app>
